.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  .sidebar,
  article {
    grid-column: 1 / 4;
  }
  header,
  .sidebar-left {
    height: 10vh!important;
    margin-bottom: 15px;
    padding-left: 0px!important;
  }
  .sidebar-right {
    padding-right: 0px!important;
  }
  article {
    height: 20vh!important;
  }
  footer {
    height: 15vh!important;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 70em;
  padding: 1em 0;
  background-color: #FBF5F3;
}

header,
.sidebar,
article,
footer {
/*   background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.sidebar-left {
    padding-left: 15px;
  }
.sidebar-right {
    padding-right: 15px;
  }
.title, .digits {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.title {
  border: 1px solid black;
  padding: 5px 10px;
}

.input {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.container {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  background-color: #006989;
  padding: 30px;
  margin-bottom: 45px;
}

.pomodoro {
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #272635;
  text-align: center;
  font-size: 2em;
}

.fa-clock, .fa-circle {
  font-size: 0.6em;
}

.digits {
  color: #FBF5F3;
}

.buttons {
  text-align: center;
  margin: 10px;
}

.minutes {}
.seconds {}
.play {
  font-size: 1.2em;
}
.pause {
  font-size: 1.2em;
}
.stop {
  font-size: 1.2em;
}
.hidden {
  display: none!important;
}

#trackerContainer {
}

.task {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: #99D5C9;
}

.complete {
  background-color: #E28413;
}

input {
  color: #FBF5F3;
  background-color: #006989;
  display: block;
  margin: 0 auto;
  width: 5em;
  text-align: center;
  border-radius: 3px;
  border:none;
  outline: none;
  border-style: solid;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.85em;
}

input:focus {
  border: 2px solid #99D5C9;
}
.times {
  text-align: center;
  font-size: 1.5em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #272635;
  color: #FBF5F3;
}

a {
  text-decoration: none;
  color: #E28413;
}

a:hover {
  color: #ECB068;
}

/* test removal of input arrows */

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/*  */
.input {
  display: grid;
  grid-template-areas: "label label"
                       "input plus"
                       "input minus";
}

.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.label {
  grid-area: label;
}
.numInput {
  grid-area: input;
}

.input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin: 2px;
  position: relative;
  padding-top: 10px;
}

.input button:before,
.input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
